@import "SideBar";
@import "ErrorView";

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.leaflet-container {
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.card-header {
  cursor: pointer !important;
  text-align: center;
  padding: 5px 1.25rem !important;
}

.fit-button {
  padding: 5px 15px;
  position: absolute;
  z-index: 999;
  bottom: 15px;
  left: 15px;
  border-radius: 2px;
  color: black;
  background: #ffffff;
  border: 2px solid rgba(0,0,0,.2);
  &:hover {
    background: #f4f4f4;
  }
  &:focus {
    outline: none !important;
  }
}

.help-button {
  padding: 5px 15px;
  position: absolute;
  z-index: 999;
  bottom: 55px;
  left: 15px;
  border-radius: 2px;
  color: black;
  background: #ffffff;
  border: 2px solid rgba(0,0,0,.2);
  &:hover {
    background: #f4f4f4;
  }
  &:focus {
    outline: none !important;
  }
}

.flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px);
}

.close:focus {
  outline: none !important;
}

.side-bar-header a {
  color: black;
  &:hover {
    color: black;
  }
}

.pointer {
  cursor: pointer;
}

.collapsing {
  transition: none !important;
}

a {
  outline: 0;
}

/* Tranck info css */
.track-info {
  position: relative;
  border-radius: 0 5px 5px 0;
  border: 1px solid lightgray;
  padding: 5px;
  width: 310px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  z-index: 1001;
  -webkit-box-shadow: 0 0 31px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 31px -14px rgba(0,0,0,0.75);
  box-shadow: 0 0 31px -14px rgba(0,0,0,0.75);
  left: -310px;
  transition: left .6s ease-in-out;
  &.show {
    left: 0;
  }
}

.track-info-button {
  position: absolute;
  top: 50%;
  padding: 15px 5px;
  width: 25px;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid lightgray;
  right: -26px;
  transform: translateY(-50%);
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 18px 0 33px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: 18px 0 33px -14px rgba(0,0,0,0.75);
  box-shadow: 18px 0 33px -14px rgba(0,0,0,0.75);
  cursor: pointer;
}

.track-info-value {
  font-size: 16px;
}