.side-bar {
  position: relative;
  float: right;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  background: #f6f6f6;
  z-index: 1000;
  -webkit-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.75); }

.list-area {
  flex: 1;
  background: red; }

/* SideBar header css */
.side-bar-header {
  flex-shrink: 0;
  width: 100%;
  background: #fff;
  height: 50px !important;
  border-bottom: 1px solid black; }
  .side-bar-header .box {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
    .side-bar-header .box:hover, .side-bar-header .box:hover button {
      background: #c0f6c5; }
    .side-bar-header .box button {
      transition: none;
      background-color: inherit;
      color: #000;
      border: none; }
    .side-bar-header .box button:hover, .side-bar-header .box button:active, .side-bar-header .box button:focus {
      background-color: inherit !important;
      color: #000 !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      border: none; }

.accordion .card-header {
  color: #767676; }
  .accordion .card-header:hover {
    color: #000;
    background: #def6df; }
  .accordion .card-header:hover > .right-trash-bin {
    visibility: visible; }
  .accordion .card-header.selected {
    color: #000; }
  .accordion .card-header .left-exclamation {
    float: left;
    position: absolute;
    left: 50px; }
  .accordion .card-header .right-trash-bin {
    float: right;
    position: absolute;
    right: 20px;
    visibility: hidden; }
  .accordion .card-header .delete-checkbox {
    position: absolute;
    right: 35px;
    top: 11px; }

.card-header input {
  pointer-events: auto !important; }

.disable {
  pointer-events: none; }

.center-block {
  width: 250px;
  position: relative; }

.icon-error {
  float: left;
  position: absolute;
  top: 10px;
  left: 40px; }

.selected {
  background: #def6df; }

/* Navigation header menu css */
.navigation {
  background: #e7ebef;
  border-bottom: 1px solid black; }
  .navigation.partition {
    background: #b6cbff; }
  .navigation .select-all-checkbox {
    position: absolute;
    right: 46px;
    top: 6px; }
  .navigation .icon-times {
    position: absolute;
    right: 25px;
    top: 4px; }

.side-card {
  -webkit-box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.75);
  width: calc(100% - 8px) !important;
  padding: 8px;
  margin: 0 auto;
  cursor: pointer; }
  .side-card:hover {
    border-width: 2px; }
  .side-card * > svg {
    display: none; }
  .side-card:hover * > svg {
    display: inline-block; }

.side-bar-input {
  width: 1%;
  flex: 1 1 auto;
  border-radius: 0;
  border: 1px solid #ced4da; }

.input-span {
  width: 42.7px;
  border-radius: 0 !important; }

.input-error {
  font-size: 11px;
  font-weight: 400; }
  .input-error.left {
    text-align: left; }
  .input-error.right {
    text-align: right; }

.card-body .input-group:first-of-type {
  padding-right: 5px; }

.card-body .input-group:nth-last-of-type(2) {
  padding-left: 5px; }

.new-line {
  white-space: pre-line; }

.footer {
  background: #fff;
  text-align: center;
  display: flex;
  align-self: flex-end;
  border-top: 1px solid black; }

/* Points css */
.point-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f6f6f6;
  top: 0;
  height: 100%;
  left: 100%;
  transition: transform 0.1s; }
  .point-container.show {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  .point-container > * .ReactVirtualized__Grid__innerScrollContainer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }

.error_container {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.text_container {
  display: inline-flex;
  flex-direction: column; }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

.leaflet-container {
  overflow: hidden;
  top: 0;
  height: 100vh; }

.card-header {
  cursor: pointer !important;
  text-align: center;
  padding: 5px 1.25rem !important; }

.fit-button {
  padding: 5px 15px;
  position: absolute;
  z-index: 999;
  bottom: 15px;
  left: 15px;
  border-radius: 2px;
  color: black;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2); }
  .fit-button:hover {
    background: #f4f4f4; }
  .fit-button:focus {
    outline: none !important; }

.help-button {
  padding: 5px 15px;
  position: absolute;
  z-index: 999;
  bottom: 55px;
  left: 15px;
  border-radius: 2px;
  color: black;
  background: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.2); }
  .help-button:hover {
    background: #f4f4f4; }
  .help-button:focus {
    outline: none !important; }

.flex-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px); }

.close:focus {
  outline: none !important; }

.side-bar-header a {
  color: black; }
  .side-bar-header a:hover {
    color: black; }

.pointer {
  cursor: pointer; }

.collapsing {
  transition: none !important; }

a {
  outline: 0; }

.text-padding {
  padding-left: 2rem;
  padding-right: 2rem; }

.help-info:first-of-type {
  margin-top: 0 !important; }

.help-info:last-of-type {
  border-bottom: none !important; }
  .help-info:last-of-type svg {
    margin-right: 11px; }

/* Tranck info css */
.track-info {
  position: relative;
  border-radius: 0 5px 5px 0;
  border: 1px solid lightgray;
  padding: 5px;
  width: 310px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fafafa;
  z-index: 1001;
  -webkit-box-shadow: 0 0 31px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 31px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 31px -14px rgba(0, 0, 0, 0.75);
  left: -310px;
  transition: left .6s ease-in-out; }
  .track-info.show {
    left: 0; }

.track-info-button {
  position: absolute;
  top: 50%;
  padding: 15px 5px;
  width: 25px;
  border-radius: 0 5px 5px 0;
  border-right: 1px solid lightgray;
  right: -26px;
  transform: translateY(-50%);
  background: #fff;
  z-index: 9999;
  -webkit-box-shadow: 18px 0 33px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 0 33px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 0 33px -14px rgba(0, 0, 0, 0.75);
  cursor: pointer; }

.track-info-value {
  font-size: 16px; }

.track-info-name {
  width: 180px;
  border: none;
  background: #fafafa;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
