.side-bar {
  position: relative;
  float: right;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  background: #f6f6f6;
  z-index: 1000;
  -webkit-box-shadow: 0 0 20px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 20px -3px rgba(0,0,0,0.75);
  box-shadow: 0 0 20px -3px rgba(0,0,0,0.75);

  .card {
    border-radius: 0;
    border-right: none;
    .card-header:hover {
      background: #def6df;
    }
  }
}

.list-area {
  flex: 1;
  background: red;
}

/* SideBar header css */

.side-bar-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 444;
  width: 100%;
  background: #fff;
  height: 50px;
  border-bottom: 1px solid black;
  .box {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background: #c0f6c5;
    }
  }
}

.selected {
  background: #def6df;
}

.side-bar-input {
  width: 120px;
  border-radius: 0;
  border: 1px solid #ced4da;
}

.input-span {
  width: 47.7px;
  border-radius: 0 !important;
}

.footer {
  text-align: center;
  display: flex;
  align-self: flex-end;
  //position: absolute;
  //bottom: 0;
}