@import "mixins";

.side-bar {
  position: relative;
  float: right;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  background: #f6f6f6;
  z-index: 1000;
  -webkit-box-shadow: 0 0 20px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 20px -3px rgba(0,0,0,0.75);
  box-shadow: 0 0 20px -3px rgba(0,0,0,0.75);
}

.list-area {
  flex: 1;
  background: red;
}

/* SideBar header css */

.side-bar-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 444;
  width: 100%;
  background: #fff;
  height: 50px;
  border-bottom: 1px solid black;
  .box {
    width: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover, &:hover button {
      background: #c0f6c5;
    }
    button {
      transition: none;
      background-color: inherit;
      color: #000;
      border: none;
    }
    button:hover, button:active, button:focus {
      background-color: inherit !important;
      color: #000 !important;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
      border: none;
    }
  }
}

.selected {
  background: #def6df;
}

.side-card {
  -webkit-box-shadow: 0 0 25px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 25px -15px rgba(0,0,0,0.75);
  box-shadow: 0 0 25px -15px rgba(0,0,0,0.75);
  width: calc(100% - 8px) !important;
  padding: 8px;
  margin: 0 auto;
  cursor: pointer;
  &:hover {
    border-width: 2px;
  }
}

.side-bar-input {
  width: 120px;
  border-radius: 0;
  border: 1px solid #ced4da;
}

.input-span {
  width: 47.7px;
  border-radius: 0 !important;
}

.footer {
  background: #fff;
  text-align: center;
  display: flex;
  align-self: flex-end;
  border-top: 1px solid black;
}